
 *{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
        body{
            display: flex;
            justify-content: center;
            background-color: white;

        }
         form{
            margin-top: 30px;
            width: 400px;
            border: 1px solid black;
            background: rgb(246, 245, 245);
            padding: 15px;
            border-radius: 10px;
           
        }
        


        select{
            width: 100%;
            padding: 10px;
        }
       
        form input{
            padding: 10px;
            border-radius: 5px;
            margin-bottom: 10px;
              
        } 
        

        #submitBtn{
            background: rgb(5, 207, 5);
            color: white;
            width: 100%;
            padding: 8px;
            margin-bottom: 10px;
            border: none;
            font-weight: 700;
            border-radius: 5px;
            transition: 1s;
        }

        #submitBtn:hover{
            background-color: green;
            box-shadow: 2px 3px 4px green;
        }

        #province{
            margin-bottom: 10px;
        }